In [1]:
import pandas as pd

In [3]:
#Al querer leer el archivo me aparece lo siguiente: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
#Esto aparece cuando pandas detecta que las columnas en cuestión contienen diferentes tipos de datos. Esto puede suceder cuando algunas filas tienen
#valores numéricos mientras que otras tienen cadenas de texto, por ejemplo.

df = pd.read_csv(r'C:\Users\nahue\Searches\Escritorio\CARRERA HENRY\PPI\Movies\movies_dataset_transf.csv',low_memory=False)

#Por eso uso r antes de la ruta del archivo y el low_memory=False para que que pandas lea el archivo en fragmentos más grandes, lo que a veces puede
#ayudar a pandas a inferir el tipo de datos correcto aunque puede consumir más memoria.

In [4]:
df.head(2)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,vote_count,id_movie,movie_name,release_year,return
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194,Toy Story Collection,1995.0,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,0,NaN,1995.0,4.043035

In [5]:
df.shape

(2000, 21)

# FUNCIONES

### Cantidad de películas estrenadas en un mes seleccionado

In [8]:
#Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.

def cantidad_filmaciones_mes(mes: str) -> int: #Esta función toma un parámetro mes, que es una cadena de texto (por ejemplo, 'enero', 'febrero')
    df['release_date'] = pd.to_datetime(df['release_date'])
# Me aseguro que la columna 'release_date' esté en formato datetime
    meses = {
        'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4,
        'mayo': 5, 'junio': 6, 'julio': 7, 'agosto': 8,
        'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12
    }
    #Creo el diccionario para mapear los nombres de los meses en español a sus correspondientes números (1-12).
    
    mes_num = meses.get(mes.lower())
    #mes.lower() convierte el nombre del mes a minúsculas para asegurar que coincida con las claves del diccionario.
    #meses.get(mes.lower()) obtiene el número correspondiente al mes ingresado. Si el mes no se encuentra en el diccionario, devuelve None.
    
    if mes_num:
        return len(df[df['release_date'].dt.month == mes_num])
    return 0

#df['release_date'].dt.month: el atributo 'dt' extrae el número del mes de cada fecha en la columna release_date.
#df[df['release_date'].dt.month == mes_num] filtra el DataFrame para incluir solo las filas donde el número del mes coincide con mes_num.
#len() cuenta el número de filas en el DataFrame filtrado.
#Si mes_num es None (el mes ingresado no es válido), la función devuelve 0.

In [9]:
#Chequeo que funcione correctamente la función:
cantidad_filmaciones_mes('enero')

175

### Películas estrenadas en un día particular de la semana.

In [12]:
#Esta función toma un día de la semana en español y devuelve la cantidad de películas que fueron estrenadas en ese día según el dataset:

# Definir la función cantidad_filmaciones_dia
def cantidad_filmaciones_dia(dia: str) -> int:
    # Me aseguro que la columna 'release_date' esté en formato datetime
    df['release_date'] = pd.to_datetime(df['release_date'])
    dias_semana = {
    'lunes': 0, 'martes': 1, 'miercoles': 2, 'jueves': 3,
    'viernes': 4, 'sabado': 5, 'domingo': 6
}
    dia_num = dias_semana.get(dia.lower())
    if dia_num is not None:
        return len(df[df['release_date'].dt.dayofweek == dia_num])
    return 0

#df['release_date'].dt.dayofweek: el atributo 'dt' extrae el número del día de cada fecha en la columna release_date.
#df[df['release_date'].dt.dayofweek == dia_num] filtra el DataFrame para incluir solo las filas donde el número del dia coincide con dia_num.
#len() cuenta el número de filas en el DataFrame filtrado.
#Si dia_num es None (el mes ingresado no es válido), la función devuelve 0.

In [13]:
#Chequeo que funcione correctamente la función:
cantidad_filmaciones_dia('jueves')

280

In [14]:
#Hermoseamos un poco el resultado:
dia_consultado = 'miercoles'
cantidad = cantidad_filmaciones_dia(dia_consultado)
print(f"{cantidad} películas fueron estrenadas en los días {dia_consultado}")

351 películas fueron estrenadas en los días miercoles

### Título, año de estreno y cantidad de espectadores de una película seleccionada

In [19]:
df['popularity'].dtype

dtype('float64')

In [10]:
#Convierto los datos de la columna 'popularity' de object a float.

#df['popularity'] = df['popularity'].astype(float). Aparecen filas con strings como por ejemplo "Beware Of Frost Bites"
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')

In [30]:
df['release_date'] = pd.to_datetime(df['release_date'])

# Defino la función score_titulo
def score_titulo(titulo_de_la_filmacion: str):
    # Filtro el DataFrame para encontrar la filmación por título ignorando mayúsculas/minúsculas
    pelicula = df[df['title'].str.lower() == titulo_de_la_filmacion.lower()]
    
    if not pelicula.empty: # -> verifica si se encontró alguna película con el título dado.
        titulo = pelicula['title'].values[0] # -> obtiene el título de la película.
        anio_estreno = pelicula['release_date'].dt.year.values[0] # -> obtiene el año de estreno.
        popularidad = pelicula['popularity'].values[0] # -> obtiene el score o popularidad de la película.
        
        return f"La película {titulo} fue estrenada en el año {anio_estreno} con un score/popularidad de {popularidad}"
    else:
        return f"No se encontró la película con el título {titulo_de_la_filmacion}"

In [29]:
#Veo títulos de pelis para probar la función.
pelis = df['title'].value_counts()
print(pelis)

title
The Scarlet Letter                         2
Sabrina                                    2
The Jungle Book                            2
Hamlet                                     2
The Promise                                2
                                          ..
Tarantella                                 1
Mystery Science Theater 3000: The Movie    1
The World of Apu                           1
Pather Panchali                            1
Dead Men Don't Wear Plaid                  1
Name: count, Length: 1992, dtype: int64

In [32]:
# Pruebo la función
titulo_buscar = 'TRON'
resultado = score_titulo(titulo_buscar)
print(resultado)

La película Tron fue estrenada en el año 1982 con un score/popularidad de 16.574021

### Cantidad de votos de cada película

In [33]:
# Definir la función votos_titulo
def votos_titulo(titulo_de_la_pelicula: str):
    # Filtrar el DataFrame para encontrar la filmación por título
    pelicula = df[df['title'].str.lower() == titulo_de_la_pelicula.lower()]
    
    if not pelicula.empty:
        titulo = pelicula['title'].values[0]
        cantidad_votos = pelicula['vote_count'].values[0]
        promedio_votos = pelicula['vote_average'].values[0]
        
        if cantidad_votos >= 2000:
            return f"La película {titulo} cuenta con un total de {cantidad_votos} valoraciones, con un promedio de {promedio_votos}"
        else:
            return f"La película {titulo} no cumple con la condición de tener al menos 2000 valoraciones. Tiene un total de {cantidad_votos} valoraciones."
    else:
        return f"No se encontró la película con el título {titulo_de_la_pelicula}"

In [35]:
# Ejemplo de uso de la función
titulo_buscar = 'Toy Story'
resultado = votos_titulo(titulo_buscar)
print(resultado)

La película Toy Story cuenta con un total de 5415.0 valoraciones, con un promedio de 7.7

## Pasos para obtener las funciones get_actor y get_director

In [16]:
# Para estas funciones abro el archivo credits
df = pd.read_csv(r'C:\Users\nahue\Searches\Escritorio\CARRERA HENRY\PPI\Movies\credits.csv',low_memory=False)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [18]:
# De todos los datos de la columna 'cast' filtro sólo actores:

import ast  # Para evaluar cadenas de texto como listas de diccionarios

# Convierto la columna 'cast' de cadenas de texto a listas de diccionarios
df['cast'] = df['cast'].apply(ast.literal_eval)

# Función para extraer los actores de cada diccionario en la lista
def extraer_actor(cast):
    actores = []
    for persona in cast:
        if 'character' in persona:  # Diccionario con 'character'
            actores.append({'name': persona['name']})
    return actores

# Aplico la función a la columna 'cast'
df['cast_filtrado'] = df['cast'].apply(extraer_actor)

# Chequeo el df resultante
print(df[['cast_filtrado']])

                                           cast_filtrado
0      [{'name': 'Tom Hanks'}, {'name': 'Tim Allen'},...
1      [{'name': 'Robin Williams'}, {'name': 'Jonatha...
2      [{'name': 'Walter Matthau'}, {'name': 'Jack Le...
3      [{'name': 'Whitney Houston'}, {'name': 'Angela...
4      [{'name': 'Steve Martin'}, {'name': 'Diane Kea...
...                                                  ...
45471  [{'name': 'Leila Hatami'}, {'name': 'Kourosh T...
45472  [{'name': 'Angel Aquino'}, {'name': 'Perry Diz...
45473  [{'name': 'Erika Eleniak'}, {'name': 'Adam Bal...
45474  [{'name': 'Iwan Mosschuchin'}, {'name': 'Natha...
45475                                                 []

[45476 rows x 1 columns]

In [19]:
# De todos los datos de la columna 'crew' filtro sólo directores:

# Convierto la columna 'crew' de cadenas de texto a listas de diccionarios
df['crew'] = df['crew'].apply(ast.literal_eval)

# Función para extraer los directores de cada diccionario en la lista
def extraer_director(crew):
    directores = []
    for persona in crew:
        if persona.get('job') == 'Director': #filtro solamente directores
            directores.append({'job': persona['job'], 'name': persona['name']})
    return directores

# Aplico la función a la columna 'crew'
df['crew_filtrado'] = df['crew'].apply(extraer_director)

# Veo el df resultante
print(df[['crew_filtrado']])

                                           crew_filtrado
0         [{'job': 'Director', 'name': 'John Lasseter'}]
1          [{'job': 'Director', 'name': 'Joe Johnston'}]
2         [{'job': 'Director', 'name': 'Howard Deutch'}]
3       [{'job': 'Director', 'name': 'Forest Whitaker'}]
4         [{'job': 'Director', 'name': 'Charles Shyer'}]
...                                                  ...
45471  [{'job': 'Director', 'name': 'Hamid Nematollah'}]
45472          [{'job': 'Director', 'name': 'Lav Diaz'}]
45473    [{'job': 'Director', 'name': 'Mark L. Lester'}]
45474  [{'job': 'Director', 'name': 'Yakov Protazanov'}]
45475     [{'job': 'Director', 'name': 'Daisy Asquith'}]

[45476 rows x 1 columns]

In [20]:
df.head(3)

,cast,crew,id,cast_filtrado,crew_filtrado
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'name': 'Tom Hanks'}, {'name': 'Tim Allen'},...","[{'job': 'Director', 'name': 'John Lasseter'}]"
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'name': 'Robin Williams'}, {'name': 'Jonatha...","[{'job': 'Director', 'name': 'Joe Johnston'}]"
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'name': 'Walter Matthau'}, {'name': 'Jack Le...","[{'job': 'Director', 'name': 'Howard Deutch'}]"

In [21]:
# Elimino las columnas de las cuales no voy a necesitar datos:
df1 = df.drop(['cast', 'crew'], axis=1)

In [22]:
df1.head(2)

,id,cast_filtrado,crew_filtrado
0,862,"[{'name': 'Tom Hanks'}, {'name': 'Tim Allen'},...","[{'job': 'Director', 'name': 'John Lasseter'}]"
1,8844,"[{'name': 'Robin Williams'}, {'name': 'Jonatha...","[{'job': 'Director', 'name': 'Joe Johnston'}]"

In [23]:
df1.to_csv('credits_transf.csv', index=False)

## Sigue en Desarrollo_API_2.ipynb -->